
<h1>Externo#create</h1>
<p>Find me in app/views/investigadores/create.html.erb</p>

<% if @guardado %>
     Se ha guardado a <%= @investigador.nombre %> correctamente

<% else %> 
   Hubo errores al guardar a <%= @investigador.nombre %>. 
<% end %>   