<h1>Empresa#create</h1>
<p>Find me in app/views/empresas/create.html.erb</p>

<% if @guardado %>
     Se ha guardado a <%= @empresa.nombre %> correctamente

<% else %> 
   Hubo errores al guardar a <%= @empresa.nombre %>. 
<% end %>   