
<h1>Externo#create</h1>
<p>Find me in app/views/instituciones_educativas/create.html.erb</p>

<% if @guardado %>
     Se ha guardado a <%= @institucion_educativa.nombre %> correctamente

<% else %> 
   Hubo errores al guardar a <%= @institucion_educativa.nombre %>. 
<% end %>   