<h1>Estudiante#create</h1>
<p>Find me in app/views/estudiantes/create.html.erb</p>

<% if @guardado %>
     Se ha guardado a <%= @persona.nombre %> correctamente

<% else %> 
   Hubo errores al guardar a <%= @persona.nombre %>. 
<% end %> 