<h1>Grupos#create</h1>
<p>Find me in app/views/grupos/create.html.erb</p>

<% if @guardado %>
     Se ha guardado a <%= @grupo.nombre %> correctamente

<% else %> 
   Hubo errores al guardar a <%= @grupo.nombre %>. 
<% end %>   
