<h1>Articulo#create</h1>
<p>Find me in app/views/articulo/create.html.erb</p>

<% if @guardado %>
		Se ha guardado a <%= @articulo.nombre %> correctamente

<% else %>
	Hubo errores al guardar a <%= @articulo.nombre %>.
<% end %>			

