<!DOCTYPE html>
<html>
<head>
  <title>OTEH</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="bs-docs-header" id="content">
      <div class="container">
      	<div class="container bs-docs-container">
      		<div class="row">
      			
      		</div>
		<%= yield %>
		</div>
	  </div>
</div>
</body>
</html>
